<div id="partsInfo" class="shadow-sm p-3 mb-5 mt-3 rounded">
    <link rel="stylesheet" type="text/css" href="styles/info.css">

    <div class="container">
        <div class="category-toggle" data-toggle="collapse" data-target="#categoryList" aria-expanded="false"
            aria-controls="categoryList">
            <h2>Parts Information:</h2>
            <span class="collapse-icon">▼</span>
        </div>
        <div id="categoryList" class="collapse">
            <!-- Category 1 -->
            <div class="category-toggle" data-toggle="collapse" data-target="#subcategoryList1" aria-expanded="false"
                aria-controls="subcategoryList1">
                <h5>CPUs</h5>
                <span class="collapse-icon">▼</span>
            </div>
            <div id="subcategoryList1" class="collapse">
                <!-- Loop through each CPU document -->
                <form action="/infoSpecs" method="POST">
                    <input type="hidden" name="part">
                    <input type="hidden" name="partType" value='cpu'>
                    <button type="submit" class="btn btn-secondary mt-2 general-margin">
                    </button>
                </form>
                <br>

            </div>
            <!-- Category 2 -->
            <div class="category-toggle" data-toggle="collapse" data-target="#subcategoryList2" aria-expanded="false"
                aria-controls="subcategoryList2">
                <h5>GPUs</h5>
                <span class="collapse-icon">▼</span>
            </div>
            <div id="subcategoryList2" class="collapse">
                <form action="/infoSpecs" method="POST">
                    <input type="hidden" name="part" value=''>
                    <input type="hidden" name="partType" value='gpu'>
                    <button type="submit" class="btn btn-secondary mt-2 general-margin">
                    </button>
                </form>
                <br>

            </div>
            <!-- Category 3 -->
            <div class="category-toggle" data-toggle="collapse" data-target="#subcategoryList3" aria-expanded="false"
                aria-controls="subcategoryList3">
                <h5>Memory</h5>
                <span class="collapse-icon">▼</span>
            </div>
            <div id="subcategoryList3" class="collapse">
                <form action="/infoSpecs" method="POST">
                    <input type="hidden" name="part">
                    <input type="hidden" name="partType" value='memory'>
                    <button type="submit" class="btn btn-secondary mt-2 general-margin">
                    </button>
                </form>
                <br>

            </div>
            <!-- Category 4 -->
            <div class="category-toggle" data-toggle="collapse" data-target="#subcategoryList4" aria-expanded="false"
                aria-controls="subcategoryList4">
                <h5>CPU Coolers</h5>
                <span class="collapse-icon">▼</span>
            </div>
            <div id="subcategoryList4" class="collapse">
                <form action="/infoSpecs" method="POST">
                    <input type="hidden" name="part">
                    <input type="hidden" name="partType" value='cpucoolers'>
                    <button type="submit" class="btn btn-secondary mt-2 general-margin">
                    </button>
                </form>
                <br>

            </div>
            <!-- Category 5 -->
            <div class="category-toggle" data-toggle="collapse" data-target="#subcategoryList5" aria-expanded="false"
                aria-controls="subcategoryList5">
                <h5>Motherboards</h5>
                <span class="collapse-icon">▼</span>
            </div>
            <div id="subcategoryList5" class="collapse">
                <form action="/infoSpecs" method="POST">
                    <input type="hidden" name="part">
                    <input type="hidden" name="partType" value='motherboards'>
                    <button type="submit" class="btn btn-secondary mt-2 general-margin">
                    </button>
                </form>
                <br>

            </div>
            <!-- Category 6 -->
            <div class="category-toggle" data-toggle="collapse" data-target="#subcategoryList6" aria-expanded="false"
                aria-controls="subcategoryList6">
                <h5>Storage</h5>
                <span class="collapse-icon">▼</span>
            </div>
            <div id="subcategoryList6" class="collapse">
                <% storage.forEach(function(storage) { %>
                    <form action="/infoSpecs" method="POST">
                        <input type="hidden" name="part" value='<%= storage %>'>
                        <input type="hidden" name="partType" value='storage'>
                        <button type="submit" class="btn btn-secondary mt-2 general-margin">
                            <%= storage %>
                        </button>
                    </form>
                    <% }) %>
                        <br>
            </div>
            <div class="category-toggle" data-toggle="collapse" data-target="#subcategoryList7" aria-expanded="false"
                aria-controls="subcategoryList7">
                <h5>Power Supplies</h5>
                <span class="collapse-icon">▼</span>

            </div>
            <div id="subcategoryList7" class="collapse">
                <% powerSupply.forEach(function(powerSupply) { %>
                    <form action="/infoSpecs" method="POST">
                        <input type="hidden" name="part" value='<%= powerSupply %>'>
                        <input type="hidden" name="partType" value='powersupplies'>
                        <button type="submit" class="btn btn-secondary mt-2 general-margin">
                            <%= powerSupply %>
                        </button>
                    </form>
                    <% }) %>
                        <br>

            </div>
            <div class="category-toggle" data-toggle="collapse" data-target="#subcategoryList8" aria-expanded="false"
                aria-controls="subcategoryList8">
                <h5>Cases</h5>
                <span class="collapse-icon">▼</span>
            </div>
            <div id="subcategoryList8" class="collapse">
                <% cases.forEach(function(caseItem) { %>
                    <form action="/infoSpecs" method="POST">
                        <input type="hidden" name="part" value='<%= caseItem %>'>
                        <input type="hidden" name="partType" value='case'>
                        <button type="submit" class="btn btn-secondary mt-2 general-margin">
                            <%= caseItem %>
                        </button>
                    </form>
                    <% }) %>

                        <br>

            </div>
        </div>
    </div>
</div>

        <script>
            clickCount = 0;
            $(document).ready(function () {
                if (clickCount == 0) {
                    $('.category-toggle').addClass('collapsed');
                    $('.category-toggle').find('.collapse-icon').css('color', 'white');
                    $('.category-toggle').removeClass('expanded');
                    clickCount++;
                }
                $('.category-toggle').on('click', function () {
                    $(this).toggleClass('collapsed');
                    if ($(this).hasClass('collapsed')) {
                        $(this).find('.collapse-icon').css('color', 'white');

                    } else {
                        $(this).addClass('expanded');
                        $(this).find('.collapse-icon').css('color', 'turquoise');
                    }
                });
            });
        </script>