<%
thisPart = JSON.parse(currentPart)
partCategory = "cpu"
partName = thisPart.cpuName
// console.log(build)
%>

<div class="container-fluid">
    <div class="card" style="margin: 3%;">
    <div class="card-body container">
        
        <div class="row">
        <form action="/specs" method="POST" class="text-center">
            <input type="hidden" name="part" value='<%= JSON.stringify(thisPart) %>'>
            <button type="submit" class="btn partTitleButton">
                <%= thisPart.cpuName %>
            </button>
        </form>
        <p class="card-text"># Cores: <%= thisPart.cores %> </p>
        <p class="card-text">Socket: <%= thisPart.socket %> </p>
        <hr>
        </div>

        <div class="row align-items-center">
            <div class="col">
                <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    Compare
                </label>
                </div>
            </div>
            <% if (build != null) {%>
                <div class="col">
                <%let currentPart = JSON.stringify(thisPart)%>
                    <form method="post" action="/addPartToBuild">
                        <input type="hidden" name="build" value='<%=build%>'>
                        <input type="hidden" name="partName" value='<%= partName%>'>
                        <input type="hidden" name="partCategory" value=<%= partCategory%>>
                        <input type="submit" value='Add To Build' class="form-control btn-primary">
                    </form>
                </div>
                <% }%>
        </div>
    </div>
    </div>
</div>