<%
thisPart = JSON.parse(currentPart)
partCategory = "motherboard"
partName = thisPart.name
%>

<div class="container-fluid">
    <div class="card" style="margin: 3%;">
    <div class="card-body container">
        
        <div class="row">
        <form action="/specs" method="POST" class="text-center">
            <input type="hidden" name="part" value='<%= JSON.stringify(thisPart) %>'>
            <button type="submit" class="btn partTitleButton">
                <%= thisPart.name %>
            </button>
        </form>
        <p class="card-text">Manufacturer: <%= thisPart.manufacturer %> </p>
        <p class="card-text">Socket: <%= thisPart.socket %></p>
        <p class="card-text">Form Factor: <%= thisPart.formFactor %></p>
        <p class="card-text">Ram Generation: <%= thisPart.supportedRamGeneration %></p>
        <hr>
        </div>

        <div class="row align-items-center">
            <div class="col">
                <div class="form-check">
                    <% passedPart = JSON.stringify(thisPart) %>
                    <input class="form-check-input" type="checkbox" value='<%= passedPart %>'>
                <label class="form-check-label">
                    Compare
                </label>
                </div>
            </div>
            <% if (build != null) {%>
                <div class="col">
                <%let currentPart = JSON.stringify(thisPart)%>
                    <form method="post" action="/addPartToBuild">
                        <input type="hidden" name="build" value='<%=build%>'>
                        <input type="hidden" name="partName" value='<%= partName%>'>
                        <input type="hidden" name="partCategory" value=<%= partCategory%>>
                        <input type="submit" value='Add To Build' class="form-control btn-primary">
                    </form>
                </div>
                <% }%>
        </div>
    </div>
    </div>
</div>