<% 
firstComparedPart=JSON.parse(firstComparedPart);
 secondComparedPart=JSON.parse(secondComparedPart);
  %>

    <%- include('partials/navbar') %>
        <main>
            <div class="container-fluid row">
                <div class="col-6">
                    <h1>
                        You're a Rigger,
                    </h1>
                </div>
                <div class="col-6">
                    <h1>
                        Harry!!!
                    </h1>
                </div>
            </div>

            <!-- give me a for loop that goes through the array of parts and displays them in seperate divs with the specs -->
            <div class="container-fluid">

                <div class="card mt-4 p-4">
                    <% for (const [key, value] of Object.entries(firstComparedPart)) { %>
                        <% if(key !="_id" ) { %>
                            <p>
                                <span class="field">
                                    <%= key %>:
                                </span> <span class="value">
                                    <%= value %>
                                </span>
                            </p>
                            <% } %>
                                <% } %>

                </div>
            </div>

            <div class="container-fluid">
                <div class="card mt-4 p-4">
                    <% for (const [key, value] of Object.entries(secondComparedPart)) { %>
                        <% if(key !="_id" ) { %>
                            <p>
                                <span class="field">
                                    <%= key %>:
                                </span> <span class="value">
                                    <%= value %>
                                </span>
                            </p>
                            <% } %>
                                <% } %>
                </div>
            </div>

        </main>

        <%- include('partials/iconbar') %>