<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body>

</body>

</html>
<%- include ('partials/navbar') %>
    <link rel="stylesheet" type="text/css" href="styles/info.css">
    <div class="container general-margin">
        <h1 id="name">
            <%= build.name %> Info
        </h1>
        <hr>
        <main>
            <div id="partsInfo" class="shadow-sm p-3 mb-5 mt-3 rounded">
                <div class="container">
                    <div class="category-toggle" data-toggle="collapse" data-target="#categoryList"
                        aria-expanded="false" aria-controls="categoryList">
                        <h2>Parts Information:</h2>
                        <span class="collapse-icon">▼</span>
                    </div>
                    <div id="categoryList" class="collapse">
                        <!-- Category 1 -->
                        <div class="category-toggle" data-toggle="collapse" data-target="#subcategoryList1"
                            aria-expanded="false" aria-controls="subcategoryList1">
                            <h5>CPUs</h5>
                            <span class="collapse-icon">▼</span>
                        </div>
                        <div id="subcategoryList1" class="collapse">
                            <!-- Loop through each CPU document -->
                            <% cpus.forEach(function(cpu) { %>
                                <form action="/specs" method="POST">
                                    <input type="hidden" name="part" value='<%= JSON.stringify(cpu) %>'>
                                    <button type="submit" class="btn btn-secondary mt-2">
                                        <%= cpu %>
                                    </button>
                                </form>
                                <% }) %>
                        </div>
                        <!-- Category 2 -->
                        <div class="category-toggle" data-toggle="collapse" data-target="#subcategoryList2"
                            aria-expanded="false" aria-controls="subcategoryList2">
                            <h5>GPUs</h5>
                            <span class="collapse-icon">▼</span>
                        </div>
                        <div id="subcategoryList2" class="collapse">
                            <% gpus.forEach(function(gpu) { %>
                                <form action="/specs" method="POST">
                                    <input type="hidden" name="part" value='<%= JSON.stringify(gpu) %>'>
                                    <button type="submit" class="btn btn-secondary mt-2">
                                        <%= gpu %>
                                    </button>
                                </form>
                                <% }) %>
                        </div>
                        <!-- Category 3 -->
                        <div class="category-toggle" data-toggle="collapse" data-target="#subcategoryList3"
                            aria-expanded="false" aria-controls="subcategoryList3">
                            <h5>Memory</h5>
                            <span class="collapse-icon">▼</span>
                        </div>
                        <div id="subcategoryList3" class="collapse">
                            <% memory.forEach(function(memory) { %>
                                <form action="/specs" method="POST">
                                    <input type="hidden" name="part" value='<%= JSON.stringify(memory) %>'>
                                    <button type="submit" class="btn btn-secondary mt-2">
                                        <%= memory %>
                                    </button>
                                </form>
                                <% }) %>
                        </div>
                        <!-- Category 4 -->
                        <div class="category-toggle" data-toggle="collapse" data-target="#subcategoryList4"
                            aria-expanded="false" aria-controls="subcategoryList4">
                            <h5>CPU Coolers</h5>
                            <span class="collapse-icon">▼</span>
                        </div>
                        <div id="subcategoryList4" class="collapse">
                            <% cpuCoolers.forEach(function(cpuCooler) { %>
                                <form action="/specs" method="POST">
                                    <input type="hidden" name="part" value='<%= JSON.stringify(cpuCooler) %>'>
                                    <button type="submit" class="btn btn-secondary mt-2">
                                        <%= cpuCooler %>
                                    </button>
                                </form>
                                <% }) %>
                        </div>
                        <!-- Category 5 -->
                        <div class="category-toggle" data-toggle="collapse" data-target="#subcategoryList5"
                            aria-expanded="false" aria-controls="subcategoryList5">
                            <h5>Motherboards</h5>
                            <span class="collapse-icon">▼</span>
                        </div>
                        <div id="subcategoryList5" class="collapse">
                            <% motherboards.forEach(function(motherboard) { %>
                                <form action="/specs" method="POST">
                                    <input type="hidden" name="part" value='<%= JSON.stringify(motherboard) %>'>
                                    <button type="submit" class="btn btn-secondary mt-2">
                                        <%= motherboard %>
                                    </button>
                                </form>
                                <% }) %>
                        </div>
                        <!-- Category 6 -->
                        <div class="category-toggle" data-toggle="collapse" data-target="#subcategoryList6"
                            aria-expanded="false" aria-controls="subcategoryList6">
                            <h5>Storage</h5>
                            <span class="collapse-icon">▼</span>
                        </div>
                        <div id="subcategoryList6" class="collapse">
                            <% storage.forEach(function(storage) { %>
                                <form action="/specs" method="POST">
                                    <input type="hidden" name="part" value='<%= JSON.stringify(storage) %>'>
                                    <button type="submit" class="btn btn-secondary mt-2">
                                        <%= storage %>
                                    </button>
                                </form>
                                <% }) %>
                        </div>
                        <div class="category-toggle" data-toggle="collapse" data-target="#subcategoryList7"
                            aria-expanded="false" aria-controls="subcategoryList7">
                            <h5>Power Supplies</h5>
                            <span class="collapse-icon">▼</span>

                        </div>
                        <div id="subcategoryList7" class="collapse">
                            <% powerSupply.forEach(function(powerSupply) { %>
                                <form action="/specs" method="POST">
                                    <input type="hidden" name="part" value='<%= JSON.stringify(powerSupply) %>'>
                                    <button type="submit" class="btn btn-secondary mt-2">
                                        <%= powerSupply %>
                                    </button>
                                </form>
                                <% }) %>
                        </div>
                        <div class="category-toggle" data-toggle="collapse" data-target="#subcategoryList8"
                            aria-expanded="false" aria-controls="subcategoryList8">
                            <h5>Cases</h5>
                            <span class="collapse-icon">▼</span>
                        </div>
                        <div id="subcategoryList8" class="collapse">
                            <% cases.forEach(function(caseItem) { %>
                                <form action="/specs" method="POST">
                                    <input type="hidden" name="part" value='<%= JSON.stringify(caseItem) %>'>
                                    <button type="submit" class="btn btn-secondary mt-2">
                                        <%= caseItem %>
                                    </button>
                                </form>
                                <% }) %>
                        </div>
                    </div>
                </div>
            </div>




            <!-- <div id="buildGuides">
                <h2>Build Guides</h2>
               Add your build guides content here
            </div> -->
        </main>

        <script>
            clickCount = 0;
            $(document).ready(function () {
                if (clickCount == 0){
                    $('.category-toggle').addClass('collapsed');
                    $('.category-toggle').find('.collapse-icon').css('color', 'green');
                    $('.category-toggle').removeClass('expanded');
                    clickCount++;
                }
                $('.category-toggle').on('click', function () {
                    $(this).toggleClass('collapsed');
                    if ($(this).hasClass('collapsed')) {
                        $(this).removeClass('expanded');
                        $(this).find('.collapse-icon').css('color', 'green');
                        $(this).removeClass('collapsed');

                    } else {
                        $(this).addClass('expanded');
                        $(this).find('.collapse-icon').css('color', 'red');
                        $(this).removeClass('expanded');
                    }
                });
            });

                // $(document).ready(function () {
                //         $('.category-toggle').on('click', function () {
                //             $(this).toggleClass('collapsed');
                //             if ($(this).hasClass('collapsed')) {
                //                 $(this).removeClass('expanded');
                //                 $(this).find('.collapse-icon').css({
                //                     transform: 'rotate(-120deg)'
                //                 });
                //             } else {
                //                 $(this).addClass('expanded');
                //                 $(this).find('.collapse-icon').css({
                //                     transform: 'rotate(0)'
                //                 });
                //             }
                //         });
                //     });

        </script>



        <%- include('partials/iconbar') %>