<%- include('partials/navbar') %>

    <h3 class="text-center">Search Parts name/serial number:</h3>
    <div class="container-fluid">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Example: intel i9-9900k" aria-label="Search"
                aria-describedby="search-button">
            <button class="btn btn-outline-secondary" type="button" id="search-button">Search</button>
        </div>
    </div>

    <main>
        <%- include('partials/part_card') %>
        <%- include('partials/part_card') %>
        <%- include('partials/part_card') %>
        <%- include('partials/part_card') %>
    

        <!-- compare button -->
        <div class="container">
            <div class="row text-center">
              <div class="col-md-8">
                <button type="button" class="btn btn-lg btn-primary btn-block">Compare</button>
              </div>
            </div>
          </div>
          
    </main>
    <%- include('partials/iconbar') %>