<%- include('partials/navbar') %>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <h1 class="general-margin">Edit your profile</h1>
                <form method='post' action='/password_edit'>
                    <%- include("partials/form_group", {field: 'Current Password' , field_answer: 'current_password' })
                        %>
                        <%- include("partials/form_group", {field: 'New Password' , field_answer: 'new_password' }) %>
                            <%- include("partials/form_group", {field: 'Confirm Password' ,
                                field_answer: 'confirm_password' }) %>
                                <div class="d-flex justify-content-center general-margin">
                                    <a href="/" class="btn btn-secondary button-padding button-margin">Home</a>
                                    <button id="submitButton" type='submit'
                                        class="btn btn-primary button-padding button-margin">Submit</button>
                                </div>
                </form>
                <br>
            </div>
        </div>
    </div>
    <%- include("partials/iconbar") %>

        <script>
            // get elements
            var old_passwordInput = document.querySelector('#current_password');
            var passwordInput = document.querySelector('#new_password');
            var confirm_passwordInput = document.querySelector('#confirm_password');
            var submitButton = document.querySelector('#submitButton');

            // check if form is valid
            function checkFormValidity() {
                console.log('Input event triggered');
                console.log('Old password:', old_passwordInput.value);
                console.log('New password:', passwordInput.value);
                console.log('Confirm password:', confirm_passwordInput.value);
                if (old_passwordInput.value === '' || passwordInput.value === '' || confirm_passwordInput.value === '') {
                    submitButton.disabled = true;
                }
                else {
                    if (passwordInput.value === confirm_passwordInput.value) {
                        submitButton.disabled = false;
                    }
                    else {
                        submitButton.disabled = true;
                    }
                }
            }
            // add event listeners
            old_passwordInput.addEventListener('input', checkFormValidity);
            passwordInput.addEventListener('input', checkFormValidity);
            confirm_passwordInput.addEventListener('input', checkFormValidity);

            // disable submit button on page load
            submitButton.disabled = true;
        </script>