<%- include('partials/navbar') %>



    <main>
        <h3>Specs:</h3>
        <div class="container-fluid">
            <% let rowNumber=0 %>
                <% for (const [key, value] of Object.entries(JSON.parse(part))) { %>
                    <% if(key !="_id" ) { %>
                        <p class="row-<%= rowNumber % 2 === 0 ? 'even' : 'odd' %>"style="border-radius: 10px;">
                            <span class="field" >
                                <%= key %>:
                            </span> <span class="value">
                                <%= value %>
                            </span>
                        </p>
                        <% rowNumber++ %>
                            <% } %>
                                <% } %>
        </div>
    </main>

    <%- include('partials/iconbar') %>