<% 
part = JSON.parse(part)

if (part.name) {
    partName = part.name
} if (part.cpuName) {
    partName = part.cpuName
} if (part.driveName) {
    partName = part.driveName
} if (part.memoryName) {
    partName = part.memoryName
} if (part.productName) {
    partName = part.productName
}
%>

<%- include('partials/navbar') %>

    <h1 class="text-center mt-4"><%= partName%></h1> 

    <main class="mt-2">
        <h3>Specs breakdown:</h3>
        <div class="container-fluid">
               <% for (const [key, value] of Object.entries(part)) { %>
                    <% if(key !="_id" ) { %>
                        <p class="row-even"style="border-radius: 10px;">
                            <span class="field" >
                                <%= key %>:
                            </span> <span class="value">
                                <%= value %>
                            </span>
                        </p>
                            <% } %>
                                <% } %>
        </div>
    </main>

<%- include('partials/iconbar') %>