<% 
part = JSON.parse(part)

if (part.name) {
    partName = part.name
} if (part.cpuName) {
    partName = part.cpuName
} if (part.driveName) {
    partName = part.driveName
} if (part.memoryName) {
    partName = part.memoryName
} if (part.productName) {
    partName = part.productName
}
%>

<%- include('partials/navbar') %>

    <h1 class="text-center"><%= partName%></h1>

    <main>
        <div class="container">
            <p>Spec Breakdown :</p>
            <hr>
            <div>
                <% for (const [key, value] of Object.entries(part)) { %>
                    <% if(key !="_id" ) { %>
                        <p>
                            <span style="font-weight:bold;"><%= key %></span>: <%= value %>
                        </p>
                        <% } %>
                            <% } %>
            </div>
        </div>
    </main>

    <%- include('partials/iconbar') %>