<%- include('partials/navbar') %>

<main>
    
    
    <% if(partNotFound) { %>
        <!-- If part doesn't exist, display this message -->
        <div class="col-md notification notification:hover">
            <input value="Can't find part matching <%= searchTerm %>!" type="button"
            class="container notification-button menu_buttons general-margin button-padding">
        </div>
        <% } else { %>
            
            <% part=JSON.parse(part);
             <!-- Parse through part object to find the name of the part -->
            if (part.name) { partName=part.name; }
            if (part.cpuName) { partName=part.cpuName; }
            if (part.driveName) { partName=part.driveName; }
            if (part.memoryName) { partName=part.memoryName; }
            if (part.productName) { partName=part.productName; }
             %>

                <h1 class="text-center mt-4">
                    <%= partName %>
                </h1>
                
                <div class=" container-fluid mt-2">
                    <h3>Specs breakdown:</h3>
                    <div class="container-fluid">
                        <% for (const [key, value] of Object.entries(part)) { %>
                            <% if(key !=="_id" ) { %>
                                <p class="spec-row" style="border-radius: 10px;">
                                    <span class="field">
                                        <%= key %>:
                                    </span>
                                    <span class="value">
                                        <%= value %>
                                    </span>
                                </p>
                                <% } %>
                                <% } %>
                            </div>
                        </div>
                        <% } %>
                        
                        <%- include('partials/iconbar') %>
                    </main>